<div class="row">
  <div class="column">
    <h1 class="heading">
      An advanced equivalent
      <div class="block"><span class="primary">of a simple game</span>.</div>
    </h1>
    <p class="description">
      In TicTacToe you can face your friends, other players or artificial
      inteligence on standard and mixed tic-tac-toe boards, or you can take part
      in a tournament and fight for a position in the leaderboard!
    </p>
  </div>
  <div class="column">
    <section class="box">
      <h2 class="box-heading">Start a game!</h2>
      <input class="box-input" placeholder="Player name" />
      <button class="box-button primary">Create an account</button>
      <button class="box-button">Play as a guest</button>
    </section>
  </div>
</div>
