<nav class="nav-container">
  <div class="wrapper">
    <ul class="nav-list">
      <div class="nav-column">
        <li class="nav-item nav-hamburger-container" (click)="toggleSidebar()">
          <div class="nav-hamburger"></div>
        </li>
        <li class="nav-item nav-logo">
          <a routerLink="/" title="Homepage">
            <img
              src="/assets/black_logo.svg"
              alt="Logo of TicTacToe"
              height="30px"
            />
          </a>
        </li>
        <li class="nav-item" *ngFor="let option of options">
          <a
            [routerLink]="[option.link]"
            title="[option.name]"
            class="nav-link"
          >
            {{ option.name }}
          </a>
        </li>
      </div>
      <div class="nav-column">
        <li class="nav-item nav-contain">
          <a routerLink="/auth/login" title="Login" class="nav-link">
            Log in
          </a>
        </li>
      </div>
    </ul>
  </div>
</nav>

<nav class="sidenav-container" [class.active]="sidebarState">
  <ul class="sidenav-list">
    <li class="sidenav-item" *ngFor="let option of options">
      <a
        [routerLink]="[option.link]"
        [title]="[option.name]"
        class="sidenav-link"
      >
        {{ option.name }}
      </a>
    </li>
  </ul>
</nav>

<div class="black" [class.active]="sidebarState"></div>
