/* You can add global styles to this file, and also import other style files */
@import "./scss/reset.scss";
@import "./scss/variables.scss";

body,
input,
button {
  font-family: $font-family;
  font-size: 16px;
}

body {
  margin-top: 60px;
}

* {
  box-sizing: border-box;
  outline: 0;
}

.wrapper {
  max-width: $xlarge-breakpoint;
  margin: 0 auto;
}

@media (max-width: $xlarge-breakpoint) {
  .wrapper {
    margin: 0 12px;
  }
}
