// Site font
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

// Site colors
$accent-color: #188aa3;
$accent-hover: #116b80;
$accent-opacity: #1889a36e;

$secondary-color: #e9e9e9;
$secondary-hover: #d6d6d6;

$container-color: #f4f4f4;
$stroke-color: $container-color;

$input-color: #818181;
$input-border: #e0e0e0;

$navitem-color: rgba(0, 0, 0, 0.65);
$navitem-hover: black;

$shadow-color: $navitem-color;

// Breakpoints
$small-breakpoint: 576px;
$medium-breakpoint: 768px;
$large-breakpoint: 992px;
$xlarge-breakpoint: 1200px;
